{% extends ':layout:centered.html.twig' %}



{% block page_content %}

<h2>Nombre d'entité crées : {{ success|length }}</h2>
<p>
	<a href="{{ path('db_convert_index')}}">Revenir à l'index</a>
</p>
<h4>Errors: ({{ errors|length }})</h4>
<table class="table table-stripped">
	<thead>
		<th>Type</th>
		<th>Class</th>
		<th>Error</th>		
		<th>Id</th>
	</thead>
	<tbody>
	{% for error in errors %}
		<tr>
			<td>{{ error }}</td>			
		</tr>
	{% endfor %}
</table>

{% endblock %}