{% extends ":layout:centered.html.twig" %}


{% block page_content %}

	<div class="white-sheet register">
		<div class="page-header">
		  <h1><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Inscription <small>Welcome boys</small></h1>
		</div>

		{% include "FOSUserBundle:Registration:register_content.html.twig" %}


		{# Facebook Connect #}
		{# ...
		<form class="form-wp form-facebook">
			<p class="intro">Ou en 1 clic avec Facebook!</p>
			<p class="btn-facebook">
				<a rel="nofollow" href="{{ url('hwi_oauth_connect') }}" target="_self"><img src="{{ asset('bundles/wsstyle/images/register_with_facebook.png') }}" alt="S'incrire avec Facebook"/></a>										
			</p>

			{# Facebook Wall #}
			{# need -app.facebook.id- global params #}
			{# ...
			<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FWesport-Community%2F642996032385245&amp;width=292&amp;height=500&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId={{ app_facebook_id }}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:258px;" allowTransparency="true"></iframe>
		</form>
		#}
	</div>
	
{% endblock page_content %}
