
.switchButton {
    position:relative;
    display: inline-block;
    width:100px;
    height:35px;

}

.switchButton input {
  /* First, we make it as wide as the container */
  position: absolute;
  width: 100%;
  height: 100%;
  position:absolute;
  left:0;
  /* Then, we put it on top of everything else */
  z-index: 100;
  /* Last, we make it invisible */
  opacity: 0;
  /* This one is just for ergonomy */
  cursor: pointer;
}

.switchButton label {
  display:block;
  width:100%;
  height:100%;
  border-radius:20px;
  position:relative;
  background: #D3D3D3;

}

.switchButton label i {
  position:absolute;
    width:50%;
    height:100%;
    top:0;
    left:0;
    display:block;
    z-index:2;
    border-radius: inherit;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;       
    background:#e6e6e6;
    background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
    background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
    background: -o-linear-gradient(#f7f2f6, #b2ac9e);
    background: -ms-linear-gradient(top, #f7f2f6 0%, #b2ac9e 100%);
    background: linear-gradient(#f7f2f6, #b2ac9e);
    
    color:#666;
    color:rgba(0,0,0,0.4);
    font-style: normal;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;

    -webkit-box-shadow: inset 0 1px 0 white,0 0 8px rgba(0,0,0,0.3),0 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 0 white,0 0 8px rgba(0,0,0,0.3),0 5px 5px rgba(0,0,0,0.1);
    -ms-box-shadow: inset 0 1px 0 white,0 0 8px rgba(0,0,0,0.3),0 5px 5px rgba(0,0,0,0.1);
    -o-box-shadow: inset 0 1px 0 white,0 0 8px rgba(0,0,0,0.3),0 5px 5px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 white,0 0 8px rgba(0,0,0,0.3),0 5px 5px rgba(0,0,0,0.1);
    
}

.switchButton label i:after{
  content:"";
    position:absolute;
    left:22.5%;
    width:55%;
    top:25%;
    height:50%;
    background:#cccccc;
    background: -webkit-linear-gradient(#cdc7bc, #d2cbc3);
    background: -moz-linear-gradient(#cdc7bc, #d2cbc3);
    background: -o-linear-gradient(#cdc7bc, #d2cbc3);
    background: -ms-linear-gradient(#cdc7bc, #d2cbc3);
    background: linear-gradient(#cdc7bc, #d2cbc3);
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}

.switchButton label i:before{
  content:"off";
  position:absolute;
  text-transform:uppercase;
  top:50%;
  left:120%;
  margin-top:-9px;

}
.switchButton input:checked ~ label {
  background:#9abb82;
}

.switchButton input:checked ~ label i {
  left:auto;
  right:-1%;
}

.switchButton input:checked ~ label i:before {
  content:'ON';
  left:-85%;
  color:#82a06a;
}
