/* SASS component */
/* clearfix extends (works >IE7 )   ex: .float-container{ @extend %clearfix;}*/
/* font sizing */
/* positionning */
/* media query */
/* emboss */
/* opacity */
/* html5 placeholder */
/* animation mixin */
/* transition mixin */
/* long shadow */
/* vertical background striped mixin */
/* diagonal background stripes mixin */
/* reset chrome style for select inputs */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 7, ../scss/includes/responsive.scss */
  select {
    -webkit-appearance: none;
    appearance: none;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 768px) {
  /* line 16, ../scss/includes/responsive.scss */
  .navbar .menu-desktop {
    display: none;
  }
  /* line 19, ../scss/includes/responsive.scss */
  .navbar .menu-mobile {
    display: block;
  }

  /* line 24, ../scss/includes/responsive.scss */
  .container {
    width: 100%;
    margin-top: 50px;
  }

  /* line 27, ../scss/includes/responsive.scss */
  .connexion .form-register, .register .form-register {
    padding: 0;
  }
  /* line 30, ../scss/includes/responsive.scss */
  .connexion .form-facebook, .register .form-facebook {
    width: 100%;
  }

  /* line 36, ../scss/includes/responsive.scss */
  .page-account .col_large {
    padding-left: 10px;
  }

  /* line 42, ../scss/includes/responsive.scss */
  .create-event table.form-table tr.form-row td {
    padding: 20px 10px !important;
  }
  /* line 43, ../scss/includes/responsive.scss */
  .create-event table.form-table tr.form-row td.cell-optional {
    padding: 0 10px !important;
  }
  /* line 45, ../scss/includes/responsive.scss */
  .create-event .cell-submit {
    width: 50%;
  }

  /* line 49, ../scss/includes/responsive.scss */
  .page-contact button[type=submit] {
    margin: 20px 25%;
    width: 50%;
    padding: 20px;
  }

  /* line 60, ../scss/includes/responsive.scss */
  .calendar-form-bar .calendar-form-row-main .calendar-form-cell-left label {
    display: none;
  }
  /* line 61, ../scss/includes/responsive.scss */
  .calendar-form-bar .calendar-form-row-main .calendar-form-cell-left .select2-container {
    width: 95%;
  }
  /* line 64, ../scss/includes/responsive.scss */
  .calendar-form-bar .calendar-form-row-main .calendar-form-cell-right label {
    display: none;
  }
  /* line 70, ../scss/includes/responsive.scss */
  .calendar-form-bar .calendar-form-row-options label, .calendar-form-bar .calendar-form-row-options input, .calendar-form-bar .calendar-form-row-options select {
    font-size: 11px;
    font-size: 1.1rem;
  }
  /* line 71, ../scss/includes/responsive.scss */
  .calendar-form-bar .calendar-form-row-options .option-field {
    display: block;
  }
  /* line 72, ../scss/includes/responsive.scss */
  .calendar-form-bar .calendar-form-row-options .calendar-form-cell-left {
    padding-right: 0;
    text-align: left;
  }
  /* line 76, ../scss/includes/responsive.scss */
  .calendar-form-bar .calendar-form-row-options .calendar-form-cell-right {
    padding-left: 0;
    text-align: right;
  }
  /* line 82, ../scss/includes/responsive.scss */
  .calendar-form-bar .calendar-form-row-options .select2-container .select2-choice .select2-search-field input[type=text], .calendar-form-bar .calendar-form-row-options .select2-container .select2-choices .select2-search-field input[type=text], .calendar-form-bar .calendar-form-row-options .select2-container-multi .select2-choice .select2-search-field input[type=text], .calendar-form-bar .calendar-form-row-options .select2-container-multi .select2-choices .select2-search-field input[type=text] {
    font-size: 11px;
    font-size: 1.1rem;
  }

  /* line 88, ../scss/includes/responsive.scss */
  .events-weeks table td.colomn-1 {
    box-shadow: none;
  }
  /* line 89, ../scss/includes/responsive.scss */
  .events-weeks table td.colomn-2 {
    box-shadow: none;
  }
  /* line 90, ../scss/includes/responsive.scss */
  .events-weeks table td.colomn-3 {
    box-shadow: none;
  }
  /* line 91, ../scss/includes/responsive.scss */
  .events-weeks table td.colomn-4 {
    box-shadow: none;
  }
  /* line 92, ../scss/includes/responsive.scss */
  .events-weeks table td.colomn-5 {
    box-shadow: none;
  }
  /* line 93, ../scss/includes/responsive.scss */
  .events-weeks table td.colomn-6 {
    box-shadow: none;
  }
  /* line 94, ../scss/includes/responsive.scss */
  .events-weeks table td.colomn-7 {
    box-shadow: none;
  }

  /* line 98, ../scss/includes/responsive.scss */
  h1.title-sheet {
    font-size: 16px;
    font-size: 1.6rem;
  }

  /* line 104, ../scss/includes/responsive.scss */
  .form-ws {
    width: 100%;
    float: left;
  }
  /* line 107, ../scss/includes/responsive.scss */
  .form-ws .control-submit {
    width: 100%;
  }

  /* line 114, ../scss/includes/responsive.scss */
  .main-footer .footer-left {
    text-align: center;
  }
  /* line 117, ../scss/includes/responsive.scss */
  .main-footer .footer-right {
    display: none;
  }
}
/* very small smartphone */
/* Tablets landscape and Small computer----------- */
