<div class="flash">
{% for type,messages in notifications %}
	{% for message in messages %}
		{% include 'ZogsFlashBundle:Notifications:one.html.twig' with {'type':type, 'message':message, 'animated':false } %}
	{% endfor %}
{% endfor %}	
</div>