{% extends ':layout:centered.html.twig' %}

{% block page_content %}
	
	<div class="page-header">
		  <h1><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>Réinitialiser <small>le mot de passe</small></h1>
	</div>

	<div class="page-content">
		<p>
		{% trans_default_domain 'FOSUserBundle' %}
		{{ 'resetting.check_email'|trans({'%email%': email}) }}
		</p>	
		<p>
			<a href="{{ path('fos_user_resetting_request')}}">Je n'ai pas reçu d'email, je vais rentrer une nouvelle adresse.</a>
		</p>
	</div>	
	

{% endblock %}