{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_request form form-ws w100 form-register" style="padding-left:15%;padding-right:15%;">
    {{ form_widget(form) }}
    <div style="text-align:center;">
        <input type="submit" class="btn btn-warning" style="float:none" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>
